<mat-card id="form-card">
    <mat-card-title>New Product</mat-card-title>
    
    <form action="">

        <mat-form-field>
            <input 
                type="text" 
                matInput 
                placeholder="Name" 
                [(ngModel)]="product.name"
                name="name"
            >
        </mat-form-field>
            
        <mat-form-field>
            <input 
                type="number" 
                matInput 
                placeholder="Price ($)"
                [(ngModel)]="product.price"
                name="price"
            >
        </mat-form-field>

    </form>
    
    <button mat-raised-button (click)="createProduct()" color="primary">
        Save
    </button>

    <button mat-raised-button (click)="cancel()" color="secondary">
        Cancel
    </button>

</mat-card>